html,body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    color: #222;
    background-color: rgb(255, 246, 238);
}
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    height: 50px;
}
.navbar-nav li{
    padding-right: 20px;
}
.navbar .container .navbar-brand img{
    height: 40px;
    width: 150px;
   margin-top: -5px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link{
    color: 	rgb(158, 40, 0);
}


.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    background-color: rgb(244, 237, 222);
    margin-left: -90px;
    margin-bottom: 70px;
    opacity: 0.70;
    color: black;
    text-align: left;

}
.container-fluid h2, .carousel-caption h2, .col-sm-9 h2, .col-sm h1{
    margin-left: 15px;
    color: rgb(73, 22, 11);
    opacity: 1.0;
    font-size: 50px;
}

.carousel-inner .carousel-item .btn-outline-danger{
   margin-left: 15px;
}

.col-xs-12 h3, .card-body h5{
    color: crimson;
}
.card-body h5{
    font-size: 30px;
    font-family: 'dosis', sans-serif;

}
.col-12{
    padding-top: 20px;
    padding-bottom: 20px;
}
.social a{
    padding: 10px;
font-size: 40px;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-instagram{
    color: #517fa4;

}
.fa-instagram:hover, .fa-facebook-square:hover{
    color: #d5d5d5;
}

hr.light{
    border-top: 1px solid #1B0D02;
    margin-top: 18px;
    margin-bottom: 11px;
}
.col-md-4 img{
    width: 200px;
    height: 200px;
    border-radius: 80px;
}
footer{
    color: #222222;
}
.container-fluid .row .col-lg-8 p{
 padding-left: 70px;
}
.nav-pills{
    width: 300px;
    position: fixed;
    text-align: center;
}

.nav-pills .nav-link, .nav-pills .nav-link.active {
    border-radius: 35px;
    background-color: salmon;

}
/*ul li{*/
/*    text-decoration: crimson;*/
/*}*/
.nav-pills .nav-link, .nav-pills a{
    color: crimson;

}

.nav-pills{
    width: 300px;

}

.jumbotron h1{

    color: crimson;
    font-family: "Bodoni MT", sans-serif;
    font-size: 60px;
}
.jumbotron{
    background-image: url("obrazky/kvety.jpg");
}
.jumbotron .btn-danger{
    margin-left: 10px;
}

.row .col-sm img{
    border-radius: 10px;
    border-color: crimson;
}
.card-body, .card{
    background-color: rgb(255, 246, 238);
    border-color: rgb(255, 246, 238);

}
.card h5{
    font-family: "Comic Sans MS";
}
.row .col-sm img{
    height: 500px;
    width: 500px;

}
.form-group, .input-group{
    margin-left: -30px;
    width: 500px;

}

.btn-danger{
    margin-left: -30px;
}
.col-sm h1{
    margin-top: 30px;
}

@media (max-width: 992px) {
    body{
        font-size: 17px;
    }
    .social a {
        font-size: 32px;
        padding: 1px;
    }
    .container-fluid h2, .carousel-caption h2, .col-sm h1{
        font-size: 35px;
    }
    .carousel-caption{
        background-size: 5%;
    }
    .col-xs-12 h3{
        font-size: 25px;
    }


    .col-xs-8 h5, .card h5{
        font-size: 20px;
    }

    .carousel-caption {
        width: 800px;
        height: 150px;
        position: absolute;
    }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link{
        color: 	rgb(158, 40, 0);
    }
    .collapse .navbar-nav .nav-item{
        background-color: rgb(244, 237, 222);

    }
    .nav-pills{
        width: 200px;

    }
    .jumbotron h1{

        font-size: 55px;
    }
    .row .col-sm img{
        height: 300px;
        width: 300px;

    }
    .jumbotron h1{

        color: crimson;
        font-family: "Bodoni MT", sans-serif;
        font-size: 50px;
        margin-top: 20px;
    }
    .form-group, .input-group, .btn-danger{
        margin-left: 10px;

    }
   

}

@media (max-width: 360px)  {
    .social a {
        font-size: 22px;
        padding: 1px;
    }
    .container-fluid h2, .carousel-caption h2{
        font-size: 20px;
    }
    .carousel-caption{
        background-size: 5%;
    }
    .col-xs-12 h3{
        font-size: 20px;
    }

    .col-xs-8 h5,.col-md-4 h5, .col-12 h5{
        font-size: 15px;
        /*text-transform: uppercase;*/

    }
    .col-xs-8 h5:hover ,.col-md-4 h5:hover{
        font-size: 15px;
        text-transform: uppercase;
    }
    .navbar .container .navbar-brand img{
       height: 30px;
       width: 100px;
       margin-top: -5px;
    }
    .col-md-4 img{
        width: 100px;
        height: 100px;

    }
   .collapse .navbar-nav .nav-item{
       background-color: rgb(244, 237, 222);

   }
    .nav-pills{
        width: 35px;
        text-align: left;
    }
    .jumbotron h1{

        font-size: 50px;
    }
.row .col-sm img{
    height: 200px;
    width: 200px;
}
body{
    font-size: 13px;
}
    .jumbotron h1{
        margin-top: 50px;
        color: crimson;
        font-family: "Bodoni MT", sans-serif;
        font-size: 40px;
    }
    .form-group, .input-group{
       margin-left: 10px;
        width: 250px;

    }
    .btn-danger{
        margin-left: 10px;
    }
}





